body {
  background: #fff;
  p{
    font-family: Lato;
  }
  h2{
    font-family: "Maven Pro Regular";
    margin-bottom: 2%;
  }
  h3{
    font-family: "Maven Pro Regular";
    margin-bottom: 2%;
  }
}

header {
  background: #323232;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: inline-block;
    min-width: 13%;
  }
  div {
    display: flex;
    justify-content: center;
  }
  a {
    color: #fff;
    font-weight: 700;
    font-family: Lato;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: #2eb398;
    }
  }
}

.triangle {
  display: flex;
  justify-content: center;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 40px solid #323232;
}

#portfolio {
  padding: 7%;
}


#about {
  background-color: #2eb398;
  padding: 3% 7%;
  > div {
    padding: 3%;
    border-right: 1px solid #219d84;
    border-left: 1px solid #219d84;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      color: #d7fcf5;
    }
    h3 {
      color: #20816d;
    }
    p {
      color: #d7fcf5;
    }
    > div {
      padding: 0 2%;
    }
  }
}

#get {
  background-color: #323232;
  padding:3% 7%;
  > div {
    padding:3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    > div {
      padding: 0 2%;
      width: 100%;
      float: left;
      h2{
        color: #e0e0e0;
      }
      h3{
        color: #bebebe;
      }
      p {
        color: #bebebe;      
      }
      p:first-child {
        margin-bottom: 5%;
      }
      span {
        color: #e0e0e0;
      }
      input {
        margin-bottom: 2%;
        padding: 1%;
        background-color: #454545;
        border: 1px solid #454545;
        color: white;
        width: 100%;
      }
      textarea {
        padding: 1%;
        background-color: #454545;
        border: 1px solid #454545;
        color: white;
        width: 100%;
        height: 200px;
              }
      button {
        float: right;
        margin-top: 2%;
        padding: 1% 3%;
        background-color: #2eb398;
        border: 1px solid #2eb398;
        color: #d7fcf5;
      }
    }
  }
}

footer {
  background-color: #222222;
  padding: 1% 3%;
  p{
    color: #454545;
    font-family: "Maven Pro Regular";

  }
}

@media screen and (max-width: 640px) {
  header {
    a{
      min-width: 19%;
    }
  }
  #about {
    div {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  #get {
    .column {
      flex-direction: column;
    }
    
    .right {
      margin-top: 3%;
    }
  }
}

